
@media screen and (max-width: 599px) {
  :root {
    font-size: 14px !important;
  }
}

.hide-text-decoration {
  text-decoration: none;
}

.v-application code {
  background-color: transparent !important;
}